{% load static %}

<!-- Section: Team v.3 -->
<section class="team-section my-5">
  <!-- below makes site green-->
  <head>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/app.css' %}">
  </head>


    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Software Engineering class SFSU</h2>
    <h2 class="h1-responsive font-weight-bold text-center my-5">Spring 2021</h2>
    <h2 class="h1-responsive font-weight-bold text-center my-5">Section 04</h2>
    <h2 class="h1-responsive font-weight-bold text-center my-5">Team 05</h2>
    <h2 class="h1-responsive font-weight-bold text-center my-5">Team: Ginyu Force</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">About Page</p>
    <head>
      <link rel = "stylesheet" type = "text/css" href = "{% static 'css/app.css' %}">
    </head>
    <!-- Grid row-->
    <div class="row text-center text-md-left">
  
      <!-- Grid column  <A HREF="/team_members">About Alec</A> -->
      <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Alec Tenefrancia</h4>
          <h6 class="font-weight-bold grey-text mb-3">Team Lead</h6>
          <A HREF="{% url 'team_members_alec' %}">About Alec</A>
          
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Lakshita Chugh</h4>
          <h6 class="font-weight-bold grey-text mb-3">Frontend Lead</h6>
          <A HREF="{% url 'team_members_lakshita' %}">About Lakshita</A>
        </div>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row-->
  
    <!-- Grid row-->
    <div class="row text-center text-md-left">
  
      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Angelo Reyes</h4>
          <h6 class="font-weight-bold grey-text mb-3">Backend Lead</h6>
          <A HREF="{% url 'team_members_angelo' %}">About Angelo</A>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Benjamin Kao</h4>
          <h6 class="font-weight-bold grey-text mb-3">Member</h6>
          <a href="{% url 'team_members_benjamin' %}">About Benjamin</a>
        </div>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row-->

    <div class="row text-center text-md-left">
  
        <!-- Grid column -->
        <div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex justify-content-between">
          <div class="avatar mb-md-0 mb-4 mx-4">
            
          </div>
          <div class="mx-4">
            <h4 class="font-weight-bold mb-3">Carmen Paisano</h4>
            <h6 class="font-weight-bold grey-text mb-3">Member</h6>
            <a HREF="{% url 'team_members_carmen' %}"> About Carmen Paisano</a>
          </div>
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
          <div class="mx-4">
            <h4 class="font-weight-bold mb-3">Bikram Tamang</h4>
            <h6 class="font-weight-bold grey-text mb-3">Member</h6>
            <a HREF="{% url 'member_bikram' %}"> About Bikram Tamang</a>


          </div>
        </div>
        <!-- Grid column -->

        <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
            <div class="mx-4">
              <h4 class="font-weight-bold mb-3">Jiaxin Yu</h4>
              <h6 class="font-weight-bold grey-text mb-3">Member</h6>
              <A HREF="{% url 'team_members_jiaxin' %}">About Jiaxin</A>
            </div>
          </div>
        <!-- Grid column -->
      </div>
  
  </section>
  <!-- Section: Team v.3 -->