<!DOCTYPE html>

{% load static %}


<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/app.css' %}">
    </head>
<body>
    <A HREF="{% url 'team_members_carmen' %}">About Carmen</A>
    <A HREF="{% url 'about' %}">back to main</A>
    <p>Hi I'm Carmen and I go to sfsu!</p>

<!-- input in db -->
<hr />
<form action="{% url 'link_request_carmen' %}" method="POST">
    {% csrf_token %}
    User Name: <input type="text" placeholder="enter employee name" name="username" required /><br />
    Email: <input type="text" placeholder="enter email id" name="email" required /><br />
    <input type="submit" value="Insert Record" />
    <A HREF="{% url 'about' %}">back to main</A>
</form>
<hr />
    
    

</body>
</html>