<!DOCTYPE html>
{% extends "Navbar/navbar.html" %}
{% load static %}


{% block content %}
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/announcements.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">


</head>
<body>
<img class="announcement-banner-2a">

<div class="announcement-description-2a">
    <h3 style = "color: white;"><b>Health Promotion & Wellness (HPW) is now recruiting for our HPW Student Leader Program for 2021-2022! </b></h3> </br>
    <h5 style = "color: white;">1st July 2021, 9 AM, <b style = "color: white;"> Cesar Chavez Student Center, San Francisco, CA, USA</b></h5> </br> 
    <p style = "color: white;" >
    Health Promotion & Wellness (HPW) is now recruiting
    for our HPW Student Leader Program for 2021-2022! It is a paid 10-15 hours per week opportunity
    and an academic year commitment from August 2021-May 2022. This program provides meaningful
    professional development training, networking, skill-building, and health education opportunities
    for SF State students. The application is currently open, please visit our HPW website to apply
    and for more information: https://wellness.sfsu.edu/studentemployment or use the QR code on the flyer!
    The deadline to apply is Friday, May 2nd by 5pm.

    </br></br>
    Health Promotion & Wellness is a unit within Student Affairs & Enrollment Management that provides health education and actively promotes a culture of wellne
    We create opportunities for students to enact healthy behaviors through advocacy,
    campaigns, programming, events, workshops, and peer health leadership programs.
    Our focus areas include alcohol, tobacco and other drugs, basic needs, men's health,
    mental health, nutrition, sexual health, and sexual violence prevention.

    We work to achieve health equity and enhance academic, personal, and professional success for all members of the campus community.
    </p>

</div>
<div class="admin-info">
    <p class="admin-organization" style = "color: white;">SFSU Organization Department. 10th April 2021</p>
    <p class="admin-user" style = "color: white;"> Benjamin Kao, Coach </p>
</div>
</a>

</body>


{% endblock %}