<!DOCTYPE html>
{% extends "Navbar/navbar.html" %}
{% load static %}


{% block content %}
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/announcements.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">


</head>
<body>
<img class="announcement-banner-3a">

<div class="announcement-description-2a">
    <h3 style = "color:white">CS Department announces two new Graduate Certificates! </h3> </br>
    <h5></h5>
    <p style = "color: white;">
    Students in the Certificate Program will be guided and advised
    by the Supervisory Committee comprising faculty from San Francisco State’s programs in Computer Science,
    Business and Philosophy, and these programs’ graduate advisors. Artificial Intelligence (AI)
    is becoming an integral technology in many areas (medicine, health, autonomous driving cars, business,
    loan approvals, law enforcement, distribution of government and health services, news filtering, etc.)
    and is often considered the driving force of a 4th technological revolution.
    The impact of AI is expanding rapidly, but due to its complexity it offers challenges to
    ensuring proper, ethical, unbiased and transparent operations. This is evidenced by
    increasing reporting on the use and misuse of AI in government and media, and calls for
    greater scrutiny and oversight. Skills related to ethical use of AI will be more and more
    important for both developers and users of AI technology. To address these needs, SFSU’s
    Computer Science Department, College of Business and Philosophy Department established a
    multi-College Graduate Certificate in Ethical AI. Our approach to this certificate is unique
    in its multidisciplinary and multi-College nature, which involves three critical areas
    necessary to understanding this subject, as outlined below.
    Students must take one course from each of these three areas (total of 9 units)
    and also complete a self reflection research paper (1 unit):

    </br></br>
    The mission of the Computer Science Department is to prepare students for careers as software
    professionals and for advanced studies in Computer Science. We develop and work with
    a range of technologies to build systems and applications that help solve today’s problems,
    and share skills and knowledge with the community.
    </p>
</div>
<div class="admin-info">
    <p class="admin-organization" style = "color:white">SFSU Athletic Department. 16th April 2021</p>
    <p class="admin-user" style = "color:white"> Benjamin Kao, Coach </p>
</div>
</a>

</body>


{% endblock %}