<!DOCTYPE html>
{% extends "Navbar/navbar.html" %}
{% load static %}
<h1>
    <mark>Shop</mark>
</h1>

{% block content %}
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/housing.css' %}">
    <<<<<<< HEAD

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    =======
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">

    >>>>>>> 61ab814d0dae7cb7bfdac7af5854a41fbe6cd0c8

</head>


<body>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li id="list-1" data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li id="list-2" data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li id="list-3" data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li id="list-4" data-target="#carousel-example-generic" data-slide-to="3"></li>

    </ol>
    <div class="carousel-inner" align=center>

        <div class="item active">
            <div class="card">
                <div class="card-body" id="card1">
                    <h2 class="card-text">
                    </h2>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="card">
                <div class="card-body" id="card2">
                    <h2 class="card-text">
                    </h2>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="card">
                <div class="card-body" id="card3">
                    <h2 class="card-text">
                    </h2>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="card">
                <div class="card-body" id="card4">
                    <h2 class="card-text">
                    </h2>
                </div>
            </div>
        </div>


    </div>
    <a class="left carousel-control" id="left_carousel_control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" id="right_carousel_control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div id="description-box">
    <h3>
        Description
    </h3>
    <p>Location : </p>
    <p>Description: </p>
    <p>Price</p>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn-interested-edit" data-toggle="modal" data-target="#modal-interested">
    Intrested
</button>


<div class="wrapper" data-toggle="modal" data-target="#modal-housing">
    <div class="cta">
        <span>+ Post an Advertisement</span>
        <span>
      <svg width="66px" height="30px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
          <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
          <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                fill="#FFFFFF"></path>
        </g>
      </svg>
    </span>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal-interested" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <center>
                    <h4 class="modal-title">Tell us about yourself!</h4>
                </center>
            </div>

            <div class="modal-body">

                <!-- input in db -->

                <form action="" method="POST">
                    {% csrf_token %}

                    Enter First Name:
                    <input type="text_modal_housing_post" placeholder="Enter First Name" name="first_name" required/><br/>

                    Enter Last Name:
                    <input type="text_modal_housing_post" placeholder="Enter Last Name" name="last_name" required/><br/>

                    <p> Enter SFSU email</p>
                    <input type="text_modal_housing_post" placeholder="Enter SFSU email" name="email" required/><br/>

                    <p class="p-inline">When will you graduate? </p>
                    <input type="month" name="graduation_month" required/><br/><br/>

                    Tell us a bit about yourself
                    <textarea placeholder="Tell us a bit about yourself!" type="text_housing_description" rows="5" cols="60" name="about_me"></textarea>
                    <br><br>


                    <input type="submit" class="submit_btn" value="submit"/>
                </form>

                <!-- input in db -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<!--Edit your Lisitng button -->
<button type="button" class="btn-editLisiting" data-toggle="modal" data-target="#modal-editListing">
    Edit your Listing
</button>


<!-- Modal for Editing the housing List  -->
<div class="modal fade" id="modal-editListing" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <center>
                    <h4 class="modal-title">Edit your Listing</h4>
                </center>
            </div>

            <div class="modal-body">

                <!-- input in db -->


                <form action="{% url 'housing_listing' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Title:</p>
                    <input type="text_modal_housing_post" placeholder="Enter Title for housing" name="title" required/>
                    <p>Pricing: $ </p>
                    <input type="text_modal_housing_post" input onkeypress='validate(event)' placeholder="Enter price"
                           name="price" required/>
                    <p class="p-inline-zip">Zip Code:</p>
                    <p class="p-inline-number">Number:</p>
                    <p></p>
                    <input class="p-inline-text-box" type="text_modal_housing_zip_number" placeholder="Enter Zip code" name="zip" required/>
                    <input type="text_modal_housing_zip_number" placeholder="Enter Number" name="number" required/>

                    <p>Street:</p>
                    <input type="text_modal_housing_post" placeholder="Enter Street for Restaurant" name="street" required/>

                    <p> Description: </p>
                    <textarea placeholder="Enter Description of Housing here" type="text_housing_description" rows="5" cols="60"
                              name="description"></textarea>
                    </br> </br>


                    <p class="p-inline">Preferred Method of Payment</p>

                    <select name="preferred_payment" id="payment_type">

                        <option value="Venmo">Venmo</option>
                        <option value="Cash">Cash</option>
                        <option value="Check">Check</option>
                    </select>
                    </br></br>


                    <p class="p-inline">Pets Allowed</p>

                    <label class="check-container"> yes
                        <input type="radio" name="pets_allowed" class="pets_allowed">
                        <span class="checkmark"></span>
                    </label>
                    <! -- both radio button should have same name in order to allow only one to be checked -->
                    <! -- Added a class to these radios in order to work with back-end -->
                    <label class="check-container"> no
                        <input type="radio" name="pets_allowed" class="no_pets">

                        <span class="checkmark"></span>
                    </label>
                    </br></br>


                    <p class="p-inline">Upload Images</p>
                    <input type="file" id="myFile" name="image_path">
                    </br></br>


                    <input type="submit" class="submit_btn" value="submit"/>
                </form>

                <!-- input in db -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<!--Delete your Lisitng button -->
<button type="button" class="btn-deleteLisiting" data-toggle="modal" data-target="#modal-deleteListing">
    Delete your Listing
</button>


<!-- Modal for deleting  the housing List  -->

<div class="modal fade" id="modal-deleteListing" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <center>
                    <h4 class="modal-title">Delete this Listing</h4>
                </center>
            </div>

            <div class="modal-body">
                <h3>
                    Are you sure you want to Delete this Listing ?
                </h3>
                <!-- input in db -->

                <form action="{% url 'housing_listing' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

            </div>
            <div class="modal-footer">
                <button type="button" id="delete_btn" class="btn btn-default">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


</body>


{% endblock %}