<!DOCTYPE html>
{% extends "Navbar/navbar.html" %}
{% load static %}
<h1>
    <mark>Shop</mark>
</h1>

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/terms_and_conditions.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    

</head>

<div id="faq">
    <h2><strong>Frequently Asked Questions - FAQ</strong></h2>


    <p >One stop for all your questions!</p>

       <br>
        <h3><strong>1: Can I use Gator Connection if I'm not an SFSU student?</strong></h3>
<p>-Yes, but you won't have full access to our site. If you are a registered SFSU student 
then you are able to post in housing, items, and restaurants and more!</p>
<br>
<h3><strong>2: Can I post announcements as a regular user?</strong></h3>
<p>-No, you must have a registered Admin account to post. Depending on what admin account you 
register as you can post to the corresponding section. (For example: Athletics admin can
only post to Athletics Announcements)</p>
<br>
<h3><strong>3: Can I request a listing if I am not a registered user?</strong></h3>
<p>
    -Sorry, you must be a registered SFSU user to login and request housing

</p>
<br>
<h3><strong>4: What if I don't see a restaurant I like?</strong></h3>
<p>
    -No worries! You can request a restaurant if you are a registered user just make sure to have 
    the necessary information such as hours, location, and etc 
</p>
<br>
<h3><strong>5: How do I know if I'm a registered? </strong></h3>
<p>
    -You will receive an email from Gator Connection to verify your registration as an SFSU student.

</p>
<br>
<h3><strong>6: What is the map feature for?</strong></h3>
<p>
    -Our map feature is tool for you to see what is around our campus! 
</p>
<br>

<h3><strong>7: What type of items can I sell on Gator Connection?</strong></h3>
<p>
    -You can sell books, laptops, and school supplies.
</p>

<br>
<h3><strong>8: What can I look for with the search bar?</strong></h3>
<p>

-Search through our listings whether it is in Housing, Items, or Restaurants categories 
(For example: Under the Housing category search for "Parkmerced" and any housing listing that
has been posted to Gator Connection will appear).
</p>
<br>
<h3><strong>9: I forgot my password how can I access my account?</strong></h3>
<p>

- Please select the "Forgot Password" option while logging in or fill out a contact us form
located on our Home footer (bottom of the home page).
</p>
<br>
<h3><strong>10: If I'm not a registered user can I use the Contact Us form?</strong></h3>
<p>- Yes, anyone can submit a contact us form! No need to have an SFSU email we appreciate 
your feedback. 
<br>

</p>
<center>

<br>
<br>
<br>
<br>

<p>
    If we missed a question, let us know! Please fill out a Contact Us form with any question you
may have.
</p>
</center>
<br>
<br>

</div>
{% endblock %}